video {
  /*object-fit is use to specify how an img or video should be resized to fix it containers*/
  /**
	 * [fit description]
	 * The object fit default value is fill which means the img or video should fill the container which ot may be streched
	 * or quished to fill it
	 *
	 * - cover: the replaced content is sized to maintain it'saspect ratio while filing the elements entire content box.
	 * 			the object will be clipped to fit
	 * - none: The replaced content is nor resized
	 * -scale-down: The image is resized as if none or contain were specified. would in smaller concrete object size
	 */
  object-fit: cover;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.hero-container {
  /* background: url("image/img-home.jpg") center center/cover no-repeat; */
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
  object-fit: contain;
}

.hero-container > h1 {
  color: #fff;
  font-size: 100px;
  margin-top: -100px;
}

.hero-container > p {
  margin-top: 8px;
  color: white;
  font-size: 32px;
  font-family: "Trebuchet MS";
}

.hero-btns {
  margin-top: 32px;
}

.hero-btns .btn {
  margin: 6px;
}

.fa-play-circle {
  margin-left: 4px;
}

@media screen and (max-width: 960px) {
  .hero-container > h1 {
    color: #fff;
    font-size: 70px;
    margin-top: -150px;
  }
}

@media screen and (max-width: 768px) {
  hero-container > h1 {
    color: #fff;
    font-size: 50px;
    margin-top: -100px;
  }

  .hero-container > p {
    font-size: 30px;
  }

  .btn-mobile {
    display: block;
    text-decoration: none;
  }

  .btn {
    width: 100%;
  }
}
